body{
background:#0b0b0b;
color:white;
font-family:Inter;
}

.dashboard{
padding:40px;
}

input,textarea{
padding:10px;
margin:5px;
background:#1a1a1a;
color:white;
border:none;
}
.admin{
padding:40px;
}

.panel{
background:#141414;
padding:20px;
margin:10px;
border:1px solid #222;
}